<h1>CUSTOM</h1>
<div class="mdl-grid" id="product Form">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class=" custom-card mdl-card--border mdl-cell mdl-cell--8-col mdl-shadow--8dp">
                <form class="customForm" action="admin.php" method="post" enctype="multipart/form-data" style="background: #f5e5f8;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="search" onsearch="searchForDocs()" id="searchBar" class="mdl-textfield__input darker"
                   type="text">
            <label class="mdl-textfield__label darker" for="searchBar">Name</label>
        </div>
                    <br>        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="search" onsearch="searchForDocs()" id="searchBar" class="mdl-textfield__input darker"
                   type="text">
            <label class="mdl-textfield__label darker" for="searchBar">Region</label>
        </div>
        <br>        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="search" onsearch="searchForDocs()" id="searchBar" class="mdl-textfield__input darker"
                   type="text">
            <label class="mdl-textfield__label darker" for="searchBar">Winery</label>
        </div>
        <br>        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="search" onsearch="searchForDocs()" id="searchBar" class="mdl-textfield__input darker"
                   type="text">
            <label class="mdl-textfield__label darker" for="searchBar">Blend</label>
        </div>
        <br>        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="search" onsearch="searchForDocs()" id="searchBar" class="mdl-textfield__input darker"
                   type="text">
            <label class="mdl-textfield__label darker" for="searchBar">Price</label>
        </div>
    
        <br>
        <div class="pad-left">
            <input type="file" id="file" name="fileSelector">
            <label for="file" class="mdl-button mdl-js-button mdl-button--fab " data-upgraded=",MaterialButton">
              <i class="material-icons mdl-color-text--blue-500">add_a_photo</i>
            </label>
        </div>
        <br>
        <div class="pad-left">
                <button name="submitButton" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Submit<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                <button name="resetButton" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Reset<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
        </div>
        <br>
        </form>
        </div>
        </div>>
