<dialog class="mdl-dialog" style="width: 500px">
  <div class="mdl-dialog__content" style="padding-top: 0px">
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" onclick="closeModal()" class="mdl-button">Close</button>
  </div>
</dialog>