<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--2-col is-dirty">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="search" onsearch="searchForDocs()" id="searchBar" class="mdl-textfield__input darker"
                   type="text">
            <label class="mdl-textfield__label darker" for="searchBar">Begin your search here. . .</label>
        </div>
    </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <!-- Image Card-->
  <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--2dp">
          <img src="imgs/red_cat.jpeg" height="100%" width="100%" border="0" alt="" class="hoverZoomLink">
  </div>
  <!-- Info Card-->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--2dp">
      <div class="mdl-card__title no-bottom-padding">
          <h1 class="mdl-card__title-text md-2em">Red Cat</h1>
          <div class="mdl-layout-spacer"></div>
          <img src="imgs/sale_icon.png" alt="">
      </div>
      <div class="mdl-card__supporting-text no-top-padding">
          <h4 class="mdl-card__title-text"></h4>
         <p>Tasting Notes: Red Cat opens with a sweet sangria-style taste and finishes with a tangy mouth-watering bite.</p>
         <p>Food Pairings: Perfect with burgers, wings, pizza and nachos.</p>
         <p>Drink Suggestions: Pour Red Cat over ice.  Add a squeeze of lime and a tiny umbrella. Wear flip-flops, relax and enjoy your Red Cat on the Beach.</p>
      </div>
  </div>
  <!-- Price and Cart Card-->
  <div class="mdl-cell mdl-card mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--2dp">
      <div class="mdl-card__actions">
          <button name="AddProd" type="submit" class="mdl-button mdl-js-button ">More Info   <i class="material-icons mdl-color-text--green-800">info</i></button>
          <button name="AddProd" type="submit" class="mdl-button mdl-js-button ">Add to Wish List   <i class="material-icons mdl-color-text--green-800">card_giftcard</i></button>
          <button name="AddProd" type="submit" class="mdl-button mdl-js-button ">Add to inventory   <i class="material-icons mdl-color-text--green-800">playlist_add</i></button>
          <button name="AddProd" type="submit" class="mdl-button mdl-js-button ">Add to favorites   <i class="material-icons mdl-color-text--green-800">stars</i></button>
      </div>
  </div>
</div>
