<div class="centered">
    <h1 class="searcher">Create a wishlist list!</h1>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
  <!-- Image Card-->
  <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--8dp">
  </div>
  <!-- Info Card-->
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-shadow--8dp">
      <div class="mdl-card__title no-bottom-padding">
          <div class="mdl-layout-spacer"></div>
      </div>
      <div class="mdl-card__supporting-text no-top-padding">
      </div>
  </div>
  <!-- Price and Cart Card-->
  <div class="mdl-cell mdl-card mdl-cell--2-col mdl-cell--2-col-tablet mdl-shadow--2dp">
      <div class="mdl-card__actions">
          <h4>Quantity: </h4>
          <button name="AddProd" type="submit" class="mdl-button mdl-js-button" onclick="openModal()" data-upgraded=",MaterialButton">More Info   <i class="material-icons mdl-color-text--green-800">info</i></button>
          <button name="AddProd" type="submit" class="mdl-button mdl-js-button" data-upgraded=",MaterialButton">Remove   <i class="material-icons mdl-color-text--green-800">delete</i></button>
      </div>
  </div>
</div>
