.margin-top-10{
    margin-top: 10%;
}

.mdl-textfield__label.darker{
    color: rgba(0, 0, 0, 0.5) !important;
}
.mdl-textfield__input.darker{
    border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.centered{
    text-align:center;
}

.searcher{
    color: rgb(156,39,176);
}

.modalp{
    font-size: 20px;
    color: rgb(5, 5, 0.5);

}

.modalspan{
    color: rgb(156,39,176);
    font-weight: bold;
    text-align: left;
    font-size: 24px;
}

.winename{
    color: rgb(156,39,176);
}

.cardp{
    font-size: 24px;
    color: rgb(0, 0, 0);
}

/* Below Allows for clearning individual text fields in form */

.clearable:focus,
.clearable:hover {
  padding-right: 16px;
}

.clearable::-webkit-input-placeholder {color: rgba(0,0,0,.26)}
.clearable::-moz-placeholder          {color: rgba(0,0,0,.26)} /* Firefox 19+ */
.clearable:-moz-placeholder           {color: rgba(0,0,0,.26)} /* Firefox 18- */
.clearable:-ms-input-placeholder      {color: rgba(0,0,0,.26)}

.clear {
  cursor: pointer;
	background-color: transparent;
	color: transparent;
  border: 0;
  margin: 0;
	visibility: hidden;
  position: absolute;
  right: -8px;
  bottom: 22px;
  outline: none;
}

.clearable:not(:placeholder-shown)+.clear {
  visibility: visible;
}

.clearable:not(:placeholder-shown):hover+.clear,
.clearable:not(:placeholder-shown):focus+.clear,
.clear:hover {
  color: rgba(0,0,0,.74);
}

.clear>i {
  border-radius: 50%;
  font-size: 18px;
}

.clearable:hover+.clear>i,
.clear:hover>i {
  background-color: white;
}
